[submodule "redo-plus"]
	path = redo-plus
	url = https://github.com/emacsmirror/redo-plus.git
[submodule "emmet-mode"]
	path = emmet-mode
	url = https://github.com/smihica/emmet-mode.git
[submodule "markdown-mode"]
	path = markdown-mode
	url = https://github.com/defunkt/markdown-mode.git
[submodule "php-mode"]
	path = php-mode
	url = https://github.com/emacsmirror/php-mode.git
[submodule "web-mode"]
	path = web-mode
	url = https://github.com/emacsmirror/web-mode.git
[submodule "tomorrow-theme"]
	path = tomorrow-theme
	url = https://github.com/chriskempson/tomorrow-theme.git
[submodule "finder-mode"]
	path = finder-mode
	url = https://github.com/yangg/finder-mode.git
[submodule "less-css-mode"]
	path = less-css-mode
	url = https://github.com/purcell/less-css-mode.git
[submodule "editorconfig"]
	path = editorconfig
	url = https://github.com/editorconfig/editorconfig-emacs.git
[submodule "scss-mode"]
	path = scss-mode
	url = https://github.com/antonj/scss-mode.git
[submodule "js2-mode"]
	path = js2-mode
	url = https://github.com/mooz/js2-mode
[submodule "expand-region"]
	path = expand-region
	url = https://github.com/magnars/expand-region.el.git
