[submodule ".emacs.d/redo-plus"]
	path = .emacs.d/redo-plus
	url = https://github.com/emacsmirror/redo-plus.git
[submodule ".emacs.d/php-mode"]
	path = .emacs.d/php-mode
	url = https://github.com/emacsmirror/php-mode
[submodule ".emacs.d/zencoding"]
	path = .emacs.d/zencoding
	url = https://github.com/smihica/zencoding.git
[submodule ".emacs.d/markdown-mode"]
	path = .emacs.d/markdown-mode
	url = https://github.com/defunkt/markdown-mode.git
[submodule ".emacs.d/web-mode"]
	path = .emacs.d/web-mode
	url = https://github.com/emacsmirror/web-mode
[submodule ".emacs.d/tomorrow-theme"]
	path = .emacs.d/tomorrow-theme
	url = https://github.com/chriskempson/tomorrow-theme.git
[submodule "redo-plus"]
	path = redo-plus
	url = https://github.com/emacsmirror/redo-plus.git
[submodule "zencoding"]
	path = zencoding
	url = https://github.com/smihica/zencoding.git
[submodule "markdown-mode"]
	path = markdown-mode
	url = https://github.com/defunkt/markdown-mode.git
[submodule "php-mode"]
	path = php-mode
	url = https://github.com/emacsmirror/php-mode.git
[submodule "web-mode"]
	path = web-mode
	url = https://github.com/emacsmirror/web-mode.git
[submodule "tomorrow-theme"]
	path = tomorrow-theme
	url = https://github.com/chriskempson/tomorrow-theme.git
